{% extends "base.html" %}

{% block title %}Upload Image{% endblock %}

{% block content %}

<style>
.upload-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.upload-box {
    width: 160px;
    height: 140px;
    border: 2px dashed #555;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background: #f9f9f9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-box:hover {
    background: #eee;
}

.upload-icon {
    font-size: 42px;
    line-height: 1;
}

.upload-text {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}

.upload-box input {
    display: none;
}
</style>

<div class="upload-container">
    <label class="upload-box">
        <div class="upload-icon">
        <i class="fa-solid fa-upload"></i>
        </div>

        <div class="upload-text">Upload Image</div>
        <input type="file" name="image" form="uploadForm" required>
    </label>
</div>

<form id="uploadForm" method="POST" enctype="multipart/form-data" style="padding:20px;">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Image Title" required><br><br>
    <button type="submit">Submit</button>
</form>

{% endblock %}
